<mat-card class="titulo">
    <img mat-card-image href="inicio.component.html" src="../../../assets/titulo vinoteca sin fonde.png"
    alt="Vientos del sur">
</mat-card>
<div class="card"></div>


<section id="Catalogo_inicio">
   
  <div class="mb-3">
 
    <div class="card bg-purple-500" style="width: 18rem;">
   <img  href="../bodegas/DOMAINE_NICO/domaine-nico-grand-pere/domaine-nico-grand-pere.component.html" src="../../../assets/vinos/DOMAINE NICO GRAND PERE.jpg"alt="DOMAINE NICO GRAND PERE">
    <div class="card-body">
        <h5 class="card-title">DOMAINE NICO GRAND PERE</h5>
        <p class="card-text">$5.800</p>
    </div>
</div>
